.product-img {
  max-height: 50vh;
  max-width: 50vh;
  margin: 0 auto;
}

#toast-container {
  bottom: auto !important;
  left: auto !important;
  top: 10%;
  right:7%;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #40C4FF;
 box-shadow: 0 1px 0 0 #40C4FF;
}

@media (max-width: 600px) {

}

@media (max-width: 992px) {
  .product-item:nth-child(2n+1) {
    clear:left;
  }
}

@media (min-width: 993px) {
  .product-item:nth-child(3n+1) {
    clear:left;
  }
}

#product-loader {
  margin: 0 auto;
}
